@media screen and (max-width: 1600px) {

	/* on change la taille des flèches */
	.scrollDown {
		margin-left: -75px;
		height: 150px;
		width: 150px;
		bottom: 7%;
	}

	.controlArrow{
	    position:absolute;
	    cursor:pointer;
		width: 150px;
		height: 150px;
		margin-top: -38px;
		bottom: 7%;
	}

	/* on diminue les tailles de polices */
	.centered {
		font-size: 18px;
	}

	h1 {
		font-size: 29px;
		margin-bottom: 10px;
	}

	.social_network {
		margin-top: -5px;
		margin-bottom: 10px;
	}

	/* on diminue l'espace entre les tweets */
	.twitter ul li {
		margin-right: 9px;
		width: 29%;
	}

	.twitter ul li a.user {
		font-size: 16px;
	}

	.twitter ul li {
		font-size: 14px;
	}

	/* on diminue le padding-top des section */
	.section {
		padding-top: 5%;
	}

	.webRessources li {
		width: 175px;
		margin-right: 20px;
	}

	.webRessources li a p {
		padding-top: 145px;
	}
}

@media screen and (max-width: 768px) {

	/* on diminue le padding-top des section */
	.section {
		padding-top: 5%;
		padding-right: 4%;
		padding-left: 4%;
	}

	/* on diminue les tailles de polices */
	.centered {
		font-size: 14px;
	}

	h1 {
		font-size: 16px;
		margin-bottom: 0px;
	}

	.skills {
		
		.chart {
			
			width: 135px;

			canvas {
				left: 22%;
			}
		}
	}

	.twitter ul li {
		width: 100%;
		display: block;
		font-size: 14px;
		border: 0px;
		border-bottom: 1px solid #c34663;
		padding: 0px;
	}

	.twitterBtn {
		position: fixed;
		top: 15px;
		left: 50%;
		margin-left: 5px;
		height: 50px;
		width: 50px;
	}

	.cvBtn {
		position: fixed;
		top: 15px;
		left: 50%;
		height: 50px;
		width: 50px;
		margin-left: -55px;
	}

	.social_network {
		margin-top: 5px;
		
		a {
			padding: 3px 6px 3px 3px;
			font-size: 8px;
			width: 6px;

			&.social_cv {
				width: 4px;
				padding-left: 5px;
			}
		}
	}

	/* on change la taille des flèches */
	.scrollDown {
		margin-left: -37.5px;
		height: 75px;
		width: 75px;
		bottom: 12%;
	}

	.controlArrow{
		bottom: 12%;
		width: 75px;
		height: 75px;
	}

	.controlArrow.prev{
	    left:15%;
	}

	.controlArrow.prev:hover{
		left:15%;
	}

	.controlArrow.next{  
	    right:15%;
	}

	.controlArrow.next:hover{  
		right:15%;
	}

	/* on enlève les rubans */
	#home {
		background-image: none;
	}

	#studies {
		background-image: none;
	}

	#skills {
		background-image: none;
	}

	#projects {
		background-image: none;
	}

	#web {
		background-image: none;
	}

	.descriptif {
		display: block !important;
	}

	.webRessources li {
		width: 90px;
		height: 150px;
		margin-right: 3px;
	}

	.webRessources li a {
		height: 150px;
	}

	.webRessources li a .descriptif {
		height: 150px;
		background-image: url('../img/ombreSmall.png');
	}

	.webRessources li a p {
		padding-top: 15px;
		font-size: 10px;
	}

}