@import 'variables';
@import 'responsive';

body {
	margin: 0;
	padding: 0;
}

h1 {
	color: $blue;
	font-size: 30px;
	margin-bottom: 30px;
	font-family: 'quicksandregular';
	text-transform: uppercase;
	
	a {
		color: $blue;
		
		&:hover {
			color: $pink;
		}
	}
}

.special {
	color: $pink;
}

.section {
	max-width: 800px;
	margin: 0 auto;
	padding: 8px;
	text-align: center;
}

.prez {
	height: auto;
	vertical-align: middle;
	font-size: 22px;
	font-family: 'quicksandregular';
	border-bottom: 1px solid $pink;
	position: relative;

	h1 {
		margin-bottom: 20px;

		a {
			padding: 10px 20px;
			border-top: 1px solid $pink;
			border-bottom: 1px solid $pink;
			text-decoration: none;
		
			&:hover {
				border-color: $blue;
			}
		}
	}

	a {
		color: $pink;

		&:hover {
			color: $blue;
		}
	}

	.social_network {

		margin-bottom: 25px;

		a {
			border: 1px solid $pink;
			padding: 5px 7px;
			border-radius: 50px;
			font-size: 15px;
			color: $pink;
			cursor: pointer;
			text-decoration: none;
			display: inline-block;
			width: 13px;
			
			&:hover {
				color: #fff;
				background-color: $pink;
			}
		}
	}

	.text {
		margin-bottom: 15px;
		line-height: 35px;
	}
}

.skills {
	font-family: 'quicksandregular';
	padding: 20px 0px;
	border-bottom: 1px solid $pink;

	h1 {
		font-size: 18px;
		color: $pink;
		margin: 0;
		margin-bottom: 30px;
	}

	.tags {

		font-size: 0px;

		.tag {
			display: inline-block;
			margin-top: 5px;
			margin-left: 5px;
			padding: 10px 15px;
			border: 1px solid $pink;
			font-size: 14px;
			color: $pink;
			cursor: pointer;
			text-transform: uppercase;

			&:hover {
				background-color: $pink;
				color: #fff;
			}
		}
	}
}

.twitter {
	text-align: left;

	ul {
		padding: 0;
		margin: 0;
		font-size: 0px;

		li {
			display: block;
			width: 100%;
			padding: 15px 0px;
			list-style-type: none;
			font-family: 'quicksandregular';
			font-size: 15px;
			color: $pink;
			border-bottom: 1px solid $pink;
			vertical-align: top;

			.user {
				display: inline-block;
				font-size: 18px;
				font-family: 'quicksandregular';
				color: $blue;
				text-decoration: underline;

				&:hover {
					color: $pink;
				}
			}

			img {
				display: inline-block;
				margin-right: 10px;
				vertical-align: middle;
			}

			p {
				margin-top: 15px;
				margin-bottom: 0px;

				a {
					color: black;

					&:hover {
						color: $blue;
					}
				}
			}
		}
	}
}